@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;1,500&display=swap");
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 60, 184);
  flex-wrap: nowrap;
  padding: 3rem 2rem;
  justify-content: center;
  width: 100vw;
  border-radius: 5px;
  margin: 0;
}
.form-group {
  padding: 20px;
}

label {
  display: inline-block;
  width: 10%;
  color: white;
}

input,
textarea,
button,
select {
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin: 10px 0;
}

.inputpage-display {
  display: flex;
  flex-direction: column;
}
span {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: 600;
}
button {
  background-color: olive;
}
button:hover {
  cursor: pointer;
}

.view-wrapper {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}
.items-view {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 260px;
  margin-left: 40px;
}
.popup-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: none;
}
.display {
  display: flex;
}
.pop-up {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
#discard {
  background-color: white;
  color: olive;
}
