@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;1,500&display=swap");
form {
  display: flex;
  flex-direction: column;
  background-color: #b7cfdc;
  flex-wrap: nowrap;
  padding: 3rem 2rem;
  justify-content: center;
  width: 50vw;
  border-radius: 5px;
  margin: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
}

label {
  display: inline-block;
  width: 20%;
  color: #333;
  font-weight: 700;
}

input,
textarea,
button,
select {
  font-family: "roboto";
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin: 10px 0;
}
#role {
  width: 332px;
}
#submit {
  margin: 2rem 0 0 1rem;
}
#submit:hover {
  background-color: #e66959;
}
.inputpage-display {
  display: flex;
  /* margin: 2rem 5px; */
  justify-content: center;
  align-items: center;
  background-color: #b7cfdc;
  width: 100vw;
}
span {
  font-family: "Caveat";
  font-size: 1.5rem;
  font-weight: 600;
}
input[type="submit"] {
  background-color: #6aabd2;
  cursor: pointer;
}

/* *********************** Header ******************************** */
.header {
  text-align: center;
  background-color: #385e72;
  height: 10vh;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  color: #fff;
}
/* *********************** View ******************************** */

.view-wrapper {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 20px;
  padding: 0;
  border-radius: 10px;
}
h1 {
  font-family: "Roboto", sans-serif;
}
/* *********************** notepad style *********************** */
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  margin-right: 5px;
  float: left;
  height: 320px;
  margin-left: 40px;
}
/* *********************** Note area *********************** */
.note-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 4rem;
}
.note-area {
  padding: 2rem;
  background-color: #b7cfdc;
  margin: 2rem;
  border-radius: 5px;
  width: 30vw;
  justify-content: center;
}
.note-area h4 {
  text-decoration: underline;
}
/* *********************** Popup component *********************** */

.items-view {
  color: #555;
  font-size: 22px;
  padding: 20px;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.display {
  display: flex;
}
.pop-up {
  position: relative;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
#discard {
  background-color: transparent;
  color: #385e72;
}
p {
  font-family: "roboto";
}
span {
  margin-left: 35px;
  font-family: "Caveat";
  font-size: 1.5rem;
  font-weight: 600;
}
.pop-inside {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}
button {
  background-color: #b7cfdc;
}
button:hover {
  cursor: pointer;
}

/* *********************** Footer *********************** */
.footer {
  text-align: center;
  margin-top: 2rem;
}
.footer span {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
/* *********************** Media *********************** */
@media only screen and (max-width: 770px) {
  .inputpage-display {
    flex-direction: column;
    height: 100vh;
  }
}
