@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,400;1,500&display=swap");
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(142, 142, 163);
  flex-wrap: nowrap;
  padding: 3rem 2rem;
  justify-content: center;
  width: 50vw;
  border-radius: 5px;
  margin: 0;
}
.form-group {
  padding: 20px;
}

label {
  display: inline-block;
  width: 20%;
  color: white;
}

input,
textarea,
button,
select {
  font-family: "roboto";
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin: 10px 0;
}

.inputpage-display {
  display: flex;
  margin: 0 5px;
}
span {
  font-family: "Caveat";
  font-size: 1.5rem;
  font-weight: 600;
}
input[type="submit"] {
  background-color: darkolivegreen;
  cursor: pointer;
}
button {
  background-color: olive;
}
button:hover {
  cursor: pointer;
}
/* *********************** View ******************************** */
.view-wrapper {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 20px;
  padding: 0;
}
h1 {
  font-family: "roboto";
}
/* *********************** notepad style *********************** */
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  margin-right: 5px;
  float: left;
  height: 320px;
  margin-left: 40px;
}
/* *********************** Popup component *********************** */

.items-view {
  color: #555;
  font-size: 22px;
  padding: 20px;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
}
.pop-up {
  position: relative;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
#discard {
  background-color: transparent;
  color: olive;
}
p {
  font-family: "roboto";
}
span {
  margin-left: 5px;
  font-family: "Caveat";
  font-size: 1.5rem;
  font-weight: 600;
}
